name: Test
on: [push]
permissions:
    contents: write
jobs:
    test:
        concurrency: ci-${{ github.ref }}
        runs-on: ubuntu-latest
        env:
            DATABASE_URL: "mysql://root:password@localhost:3306/db"
            DATABASE_URL_WITHOUT_SCHEMA: "mysql://root:password@localhost:3306"
            REDIS_HOST: "localhost"
            SECRET: "7ZB68E3HZ9HWGe8FzUvNWZcoYD9uuwkp25Y66S6RkszKadFMJCj9ShXL7TBcieG9yoRAsdTKzJcEgQUYbd6dtjXgmZMQhVNKypNeq6yKKLVht7gUtXypaoxgoRjQDHLceCWmJhM6GbwYiyLHmVYA8L9zuJUhYW2atZiv4Fxoc4YqzaCCrSZxzPBT9rFDSCtHsXXDEShMvULSStZvwt26tesWtxEMx5Q43a3s6eHrPJUPgVX3aAZsmYRu3bzCHvRp"
        steps:
            - uses: actions/checkout@v3

            - name: Setup MariaDB server
              uses: getong/mariadb-action@v1.1
              with:
                  mysql database: "db"
                  mysql root password: "password"

            - name: Setup Redis server
              uses: supercharge/redis-github-action@1.4.0

            - name: Install node
              uses: actions/setup-node@v3
              with:
                  node-version: "19"
                  cache: "npm"
                  cache-dependency-path: "package-lock.json"

            - name: Install npm modules
              run: npm ci

            - name: Run prisma migrations & generate prisma client
              run: npx prisma migrate dev

            - name: Lint code
              run: npm run lint

            - name: Run tests
              run: npm run test -- --coverage

            - name: Publish coverage report to GitHub Pages
              if: ${{ github.ref == 'refs/heads/master' }}
              uses: JamesIves/github-pages-deploy-action@v4
              with:
                  folder: coverage/lcov-report
